              body {
                  background-image: url(./images/utsav-srestha-HeNrEdA4Zp4-unsplash.jpg);
                  justify-content: center;
              }
              
              .jumbotron {
                  text-align: center;
                  font-family: 'Sen', sans-serif;
                  padding: 15px;
              }
              
              .main {
                  font-family: 'Sen', sans-serif;
                  text-align: center;
                  background-color: whitesmoke;
                  margin: 0 auto;
                  padding: 15px;
              }
              
              .mainSaved {
                  font-family: 'Sen', sans-serif;
                  background-color: whitesmoke;
                  margin: 0 auto;
                  padding: 15px;
              }
              
              .modal {
                  background-image: url(./images/utsav-srestha-HeNrEdA4Zp4-unsplash.jpg);
              }
              
              #lowerTag {
                  position: fixed;
                  bottom: 0;
              }